@model EPGroup30.Models.admintable

@{
    ViewData["Title"] = "AdminLogin";
    Layout = "~/Views/Shared/AdminRegistration.cshtml";
}

<h1>Admin Login</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminLogin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminEmail" class="control-label"></label>
                <input asp-for="AdminEmail" class="form-control" />
                <span asp-validation-for="AdminEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPassword" class="control-label"></label>
                <input asp-for="AdminPassword" class="form-control" type="password" />
                <span asp-validation-for="AdminPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
