@model VenuesGraduation

@{
    ViewData["Title"] = "editpagegraduation";
    Layout = "~/Views/Shared/_AdminNavLayout.cshtml";
}



<center>
    <h1>Edit Graduation Venue information page</h1>
    <br />
    <hr />
    <br />
    <form method="post" asp-action="processEditGraduation" asp-controller="Admin" enctype="multipart/form-data">
        <input type="hidden" asp-for="VenueS3Key" />
        <input type="hidden" asp-for="VenueURL" />
    <table border="1">
        <tr>
            <th>Venue ID</th>
            <td>
                <input asp-for="VenueID" readonly />
            </td>
            </tr>

            <tr>
            <th>
                <label asp-for ="VenueName"></label>
            </th>
            <td>
                <input asp-for ="VenueName" />
                <spam asp-validation-for="VenueName"></spam>
            </td>
        </tr>
        <tr>
                <th><label asp-for="VenueCategory"></label></th>
                <td>
                    <select asp-for="VenueCategory">
                        <option value="Wedding">Wedding</option>
                        <option value="Birthday">Birthday</option>
                        <option value="Graduation">Graduation</option>
                        <option value="Corporate Events">Corporate Events</option>
                    </select>
                    <span asp-validation-for="VenueCategory"></span>
                </td>
            </tr>
        <tr>
            <th>
                <label asp-for ="VenueBookedDate"></label>
            </th>
            <td>
                <input asp-for ="VenueBookedDate" />
                <spam asp-validation-for="VenueBookedDate"></spam>
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for ="VenueDetails"></label>
            </th>
            <td>
                <input asp-for ="VenueDetails" />
                <spam asp-validation-for="VenueDetails"></spam>
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for ="VenuePrice"></label>
            </th>
            <td>
                <input asp-for ="VenuePrice" />
                <spam asp-validation-for="VenuePrice"></spam>
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for ="VenueAddPrice"></label>
            </th>
            <td>
                <input asp-for ="VenueAddPrice" />
                <spam asp-validation-for="VenueAddPrice"></spam>
            </td>
        </tr>
        <tr>
            <th><label asp-for="@Model.VenueURL"></label></th>
            <td>
                <input type="file" name="imagefile" accept="image/*" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><button class="btn-outline-dark" type="submit" onclick="return confirm('Are you sure you want to update this item?')">Update</button></td>
        </tr>
    </table>
    </form>
</center>
