@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Events and Planning Kuala Lumpur</h1>
    <p>
        Discover and Experience Unforgettable Moments

        Are you ready to embark on a journey of excitement, entertainment, and exploration? Look no further! We're thrilled to welcome you to the ultimate hub for discovering and booking captivating events that will fill your life with memories.
    </p> 
</div>

<table>
    <!--Image Part1-->
    <tr>
        <td class="slider">
            <div class="img1">
                <div class="w3-content w3-section">
                    <img class="mySlides" src="https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <img class="mySlides" src="https://images.pexels.com/photos/1045541/pexels-photo-1045541.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <img class="mySlides" src="https://images.pexels.com/photos/1082024/pexels-photo-1082024.jpeg?auto=compress&cs=tinysrgb&w=600">
                </div>
            </div>
        </td>
        <td>
            <h1>Wedding Events </h1>
            <p>At E&P, we understand that your wedding is more than just an event – it's a celebration of love, commitment, and the beginning of a new chapter. Our platform is designed to inspire and guide you as you embark on this exciting adventure. From intimate elopements to grand celebrations, we bring you a diverse collection of wedding ideas, trends, and inspiration to help you envision your perfect day.</p>
        </td>
    </tr>

    <!--Image Part2-->
    <tr>
    <td>
       <h1>Capture the Moment</h1>
            <p>Your graduation is a milestone worth remembering, and our platform connects you with skilled photographers and videographers who specialize in capturing the essence of this important day. From candid shots with friends and family to professionally posed portraits, we're here to ensure that every smile, hug, and proud moment is beautifully preserved.</p>
    </td>
        <td class="slider">
            <div class="img1">
                <div class="w3-content w3-section">
                    <img class="mySlides1" src="https://images.pexels.com/photos/7944181/pexels-photo-7944181.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <img class="mySlides1" src="https://images.pexels.com/photos/7942543/pexels-photo-7942543.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <img class="mySlides1" src="https://images.pexels.com/photos/7942522/pexels-photo-7942522.jpeg?auto=compress&cs=tinysrgb&w=600">
                </div>
            </div>
        </td>
    </tr>

    <!--Image Part3-->
    <tr>
        <td class="slider">
            <div class="img1">
                <div class="w3-content w3-section">
                    <img class="mySlides2" src="https://images.pexels.com/photos/2608517/pexels-photo-2608517.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <img class="mySlides2" src="https://www.ctgphotographyblog.com/wp-content/uploads/2023/04/04-24330-post/Heinz-History-Center-Wedding-1024x683-612x408.jpeg">
                    <img class="mySlides2" src="https://images.pexels.com/photos/7648505/pexels-photo-7648505.jpeg?auto=compress&cs=tinysrgb&w=600">
                </div>
            </div>
        </td>
        <td>
            <h1>Our Commitment to Excellence</h1>
            <p>
                At E&P, we understand that corporate events are more than just gatherings; they're opportunities to connect, collaborate, and inspire. Our platform is dedicated to helping you achieve your business goals by providing a seamless and innovative event planning experience.
            </p>
        </td>
    </tr>
</table>

