<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <title>@ViewData["Title"] - EPGroup30</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/EPGroup30.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Navigation links here -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SNS" asp-action="">Subscribe to Newsletter</a>
                        </li>
                        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="venuesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Venues
    </a>
    <div class="dropdown-menu" aria-labelledby="venuesDropdown">
        <a class="dropdown-item" asp-controller="Admin" asp-action="DisplayVenue">Wedding Venues</a>
        <a class="dropdown-item" asp-controller="Admin" asp-action="DisplayVenueBirthday">Birthday Venues</a>
        <a class="dropdown-item" asp-controller="Admin" asp-action="DisplayVenueGraduation">Graduation Venues</a>
        <a class="dropdown-item" asp-controller="Admin" asp-action="DisplayVenueCooperate">Corporate Venues</a>
    </div>
</li>
<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="inquires">Contact us</a>
                        </li>
                    </ul>

                    <div class="logo">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="https://media.discordapp.net/attachments/699159499449171998/1137802612436107344/image.png?width=200&height=200" width="100" height="100" />
                        </a>
                    </div>
                    <ul>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
                   

    <div></div>

    <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - EPGroup30 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds

        }

    </script>

    <script>
        var myIndex1 = 0;
        carousel1();

        function carousel1() {
            var i;
            var x = document.getElementsByClassName("mySlides1");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex1++;
            if (myIndex1 > x.length) { myIndex1 = 1 }
            x[myIndex1 - 1].style.display = "block";
            setTimeout(carousel1, 2000); // Change image every 2 seconds

        }
    </script>

    <script>
        var myIndex2 = 0;
        carousel2();

        function carousel2() {
            var i;
            var x = document.getElementsByClassName("mySlides2");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex2++;
            if (myIndex2 > x.length) { myIndex2 = 1 }
            x[myIndex2 - 1].style.display = "block";
            setTimeout(carousel2, 2000); // Change image every 2 seconds

        }

    </script>
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
